input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(1, 35, 13);
  border-radius: 14px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: rgb(236, 245, 240);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #3832ec;
  padding: 20px;
}