#tabla1 td{background-color:rgb(206, 234, 145);border:solid black 1px}
#tabla2 td{background-color:rgb(0, 255, 102);border:solid black 1px}
#tabla3 td{background-color:rgb(37, 174, 67);border:solid black 1px}
#tabla4 td{background-color:rgb(75, 147, 107);border:solid black 1px}
#tabla5 td{background-color:rgb(0, 255, 140);border:solid black 1px}
#tabla6 td{background-color:green;border:solid black 1px}
#tabla7 td{background-color:rgb(17, 84, 54);border:solid black 1px}
#tabla8 td{background-color:rgb(0, 255, 234);border:solid black 1px}
#tabla9 td{background-color:rgb(165, 231, 225);border:solid black 1px}
#tabla10 td{background-color:rgb(15, 86, 80);border:solid black 1px}
